*{
    margin: 0px;
}
.container{
    width: 500px;
    padding: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 35px;
    margin: 0px auto;
    cursor: pointer;
}

.game{
    width: 92%;
    padding: 20px;
    height: 30px;
    background-color: #97baee;
    
}
span{
    color:#ff2d75;
}
.box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.enfent{
    width: 56px;
    height: 50px;
    padding: 50px;
    margin: 5px;
    background-color: #97baee;
    border: 4 solid rgb(65, 3, 123);
    font-size: 40px;
}
.enfent:hover{
    background-color: #1d57af;
}