*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',serif;
    box-sizing: border-box;
}
body{
    background: #97baee;
    min-height: 100vh;
}
.content-1{
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;

}
.bubbles span {
    position: relative;
    width: 20px;
    height: 20px;
    background: #487ac5;
    margin: 0 4px ;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #eec3d2,
    0 0 50px #487ac5,
    0 0 100px #487ac5;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even){
    background: #eec3d2;
    box-shadow: 0 0 0 10px #8aa6d1,
    0 0 50px #eec3d2,
    0 0 100px #eec3d2;
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}

.container{
    min-height: 100vh;
    position: relative;
   
}
.navbar{
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 80px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 14px;
    padding: 5px 2px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row{
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.col{
    margin: 20px 0;
    flex-basis: 50%;
    min-width: 300px;
    height: 100%;
    position: relative;
}
.text-box{
    max-width: 400px;
    margin-top: 100px;
}
.text-box h5{
    color: #de786e;
    font-size: 25px;
}
.text-box h1{
    font-size: 50px;
    font-weight: 100;
    line-height: 65px;
}
.gallery-box{
    max-width: 300px;
    position: relative;
    margin: auto;
    transform: translate(50%); 
    bottom: 250px;
    left: 150px;
}
.gallery-box img{
    width: 100%;
    box-shadow: 3px 3px 3px 3px #0d3776;
    box-sizing: border-box;
}
.gallery-box ul {
    position: absolute;
    right: -100px;
    top: 60%;
    transform: translate(-50%);
}
.gallery-box ul li {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0 30px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    bottom: 100px;
}
.gallery-box ul li:hover{
    color: black;
}

/* about_us */
#about_us{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
fieldset{
    margin: 50px;
    color: black;
}
legend h1{
    color:black;
    max-width: 400px;
    
}
p{
    font-size: 25px;
    font-weight: 5px;
    line-height: 60px;
    font-style: oblique;
    margin: 30px;
    
}
p span{
    color: #de786e;
}



#Games{
    margin-bottom: 100px;
    height: 600px;
    display: flex;
    justify-content: center;
    background:#97baee center center/cover fixed no-repeat;

}
.title {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 50px;
}

 h2{
    font-size: 40px;
    margin-bottom: 20px;
    color:black;
    font-style: italic;
    text-shadow: 4px 4px 5px blue;
}
 .title p{
    color:black;
    font-weight: 500;
}
.Games-game .game1{
    width: 300px;
    height: 300px;
    position: relative; 
}
.Games-game img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.Games-game .game2{
    width: 300px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 200px;
    border-radius: 15px;
}
.Games-game .game2 .button-btn{
    display: inline-block;
    margin-top: 20px;
    background-color:#97baee;
    color:black;
    padding: 15px 20px;
    border: 2px solid white;
    font-size: 20px;
    border-radius: 20px;
    width: 100px;
    text-decoration: none;

}
.Games-game .game2 .button-btn:hover{
    box-shadow: 10px 10px 10px rgb(18, 17, 17);
    
}


#Games .Games-game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}




/* /////// */









#fourmulair{
    margin: 0;
    padding: 0;
    background: linear-gradient(#bedef4,#93c8);
    height: 100vh;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}
.center{
    margin: 70px auto;
    width: 540px;
    border: 1px solid #de786e;
    border-radius: 5px;
    position: relative;
    background: #2c3e50;
}
.center .btns{
    display: flex;
    padding: 40px 0 20px 30px;
}
.center button{
    text-decoration: none;
    padding: 15px 75px;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: #2981bc;
    border-radius: 2px;
}
button.a2{
    background: #34495e;
}
.center .header{
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 5px 0 30px 0;
}
form input {
    height: 45px;
    width: 200px;
    font-size: 20px;
    background: none;
    border: 1px solid #3498db;
    border-radius: 0 10px;
    padding: 0 10px;
    margin-left: 35px;
    outline: none;
    color: white;
}

::placeholder{
    color: #7dbde8;
}

form input.lstnme{
    margin-left: 20px;
    width: 220px;
}
form input.email{
    width: 445px;
    margin-top: 20px;
    
}
form input[type="submit"]{
    margin: 30px 0 40px 35px;
    width: 445px;
    height: 50px;
    font-size: 23px;
    cursor: pointer;
    color: white;
    background: #2981bc;
    border: 1px solid #2573a7;
}
form input[type="submit"]:hover{
    background: #2990d1;
    transition: .5s;
}

.center .header1{
    
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 5px 0 30px 0;
}
.center .login-form{
    display: none;
}





/* gallery */

#gallery{
    width: 100%;
    height: 100%;
    background-color: #97baee;
}
#gallery .gallery-img{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#gallery .gallery-img img{
    width: 350px;
    height: 250px;
    border: 2px solid black;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px brown;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}
#gallery .gallery-img img:hover{
    filter: grayscale(1);
    transform: scale(1.03);
}

/* Footer */
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}










    









 